.outline {
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
}

table {
    width: 100%;
    table-layout: fixed;

}

.session-num,
.break-num {

}

.blue {
    color: blue;
}

.red {
    color: red;
}
